= render partial: 'partial_name',
          locals: { a: variable_a,
                    b: variable_b,
                    c: variable_c,
                    d: variable_d,
                    e: variable_e,
                    f: variable_f }
